svg(width="100pt", height="100pt", viewBox="0 0 100 100")
    defs
    path(
        id="shape0",
        transform="matrix(0.271224884954523 0.000228627430369097 -0.000228627430369097 0.271224884954523 5.7042209677893 6.27889791268277)",
        fill="var(--svg-fg)",
        fill-rule="evenodd",
        stroke="#000000",
        stroke-opacity="0",
        stroke-width="0",
        stroke-linecap="square",
        stroke-linejoin="bevel",
        d="M61.396 209.643L86.852 209.643L86.852 248.576L131.776 248.576L131.776 274.033L82.36 274.033L61.396 253.069L61.396 209.643M224.618 229.11L238.095 181.191L251.572 229.11L224.618 229.11M140.76 152.959L170.709 123.01L305.48 123.01L335.429 152.959L336.926 281.739L305.48 319.176L170.709 319.176L139.263 286.232L140.76 152.959M181.192 282.488L220.125 158.2L254.566 158.2L294.998 282.488L265.049 282.488L254.566 252.539L220.125 252.539L211.14 283.986L181.192 282.488M28.452 0L172.207 1.498L200.658 32.944L200.658 109.314L161.725 109.314L130.324 138.202L121.294 125.786L139.263 100.329L148.248 77.867L151.243 62.893L160.227 62.893L160.227 40.431L115.304 38.934L115.304 26.954L92.842 26.954L92.842 40.431L47.919 40.431L47.919 62.893L130.278 62.893L127.283 77.867L116.801 97.334L106.319 109.314L101.827 100.329L92.842 83.857L86.852 65.888L68.883 70.38L73.375 86.852L82.36 107.816L91.345 125.786L71.878 142.258L53.909 155.735L64.391 173.704L89.847 155.735L106.319 140.76L124.289 160.013L124.289 202.155L32.944 200.658L0 167.714L0 31.447L28.452 0"
    )
