- translate = (e)=>translation[e]||e;
html(lang=lang,editor=editor,code=code)
    head 
        title= translate("admin.pageTitle")
        script(src="/lang-chooser.js")
        script(src="/admin.js", type="module")
        link(rel="stylesheet", href="style.css") 
    body(class=`theme-${theme}`)
        .header= translate("admin.header.title")
        a#admin-back-to-index-link(href="/")= translate("admin.body.backToIndex")
        if editor
            include admin-includes/signed-in.pug
        else if code
            include admin-includes/signup.pug
        else 
            include admin-includes/signed-out.pug

        include includes/lang-container.pug