- translate = (e)=>translation[e]||e;
html(lang=lang)
    head 
        title= translate("editor.pageTitle")
        script(src="/editor.js", type="module")
        link(rel="stylesheet", href="/style.css") 
    body(class=`theme-${theme}`)
        .header= translate("editor.header.title")
        a#back-to-index-button(href="/?lang="+lang)= translate("editor.backToIndex")
        #delete-app-button(href="/?lang="+lang)= translate("editor.delete")
        #confirm-delete-popup
            .bg 
            .confirm-delete
                .label= translate("editor.confirmDeleteLabel")
                button#confirm-delete-button= translate("editor.confirmDelete")
                button#cancel-delete-button= translate("editor.cancelDelete")
        #editor
            #issaved= translate("editor.isSaved.saved")
            .param#p-name
                .label= translate("editor.param.name")
                input#name-in(value=app.name)
            .param#p-url
                .label= translate("editor.param.url")
                input#url-in(value=app.url,type="url")
            .param#p-approval
                .label= translate("editor.param.approvalStatus")
                - var sp = appInfoLists.approval
                include includes/dropdown.pug
            .param#p-privacy
                .label= translate("editor.param.privacyStatus")
                - var sp = appInfoLists.privacy
                include includes/dropdown.pug
            .param#p-gradeLevel
                .label= translate("editor.param.gradeLevel")
                - var sp = appInfoLists.gradeLevel
                include includes/dropdown.pug
            .param#p-subject
                .label= translate("editor.param.subject")
                - var sp = appInfoLists.subject
                include includes/dropdown.pug
            .param#p-platform
                .label= translate("editor.param.platform")
                - var sp = appInfoLists.platform
                include includes/dropdown.pug
    
        include includes/lang-container.pug