html(lang=lang)
    head 
        title= translation["index.pageTitle"]
        script(src="index.js", type="module")
        link(rel="stylesheet", href="style.css") 
    body.theme-light
        button#translate-button
            include includes/lang-symbol.pug
        .header= translation["index.header.title"]
            
        .search-container
            .search-title= translation["index.search.title"]
            input#name-search(name="name-search", placeholder=translation["index.search.namePlaceholder"])
            each sp,n in searchParams
                .selectlist(name=sp.id,tabindex=0)
                    .selectlist-title= translation[sp.name]
                    .selectlist-contents
                        each option in sp.options
                            .selectlist-elt(name=option.id)= translation[option.name]
            button#search-refresh-button-inline(disabled)= translation["index.search.refreshButton"]
            
        .apps-container
            #search-refresh-popup
                = translation["index.search.refreshPopup"]
            #search-loading-popup
                = translation["index.search.loadingPopup"]


            #apps-list
                #apps-empty= translation["index.search.noResults"]
        
        #language-container
            .bg
            .language-list
                .language-option= (langNames.filter(v=>v.lang==lang)[0]||{}).name
                each langName in langNames
                    if langName.lang!=lang
                        .language-option(value=langName.lang)= langName.name
            