- translate = (e)=>translation[e]||e;
html(lang=lang,editor=editor)
    head 
        title= translate("index.pageTitle")
        script(src="/index.js", type="module")
        link(rel="stylesheet", href="style.css") 
    body(class=`theme-${theme}`)
        .header= translate("index.header.title")
            
        .search-container
            .search-title= translate("index.search.title")
            input#name-search(name="name-search", placeholder=translate("index.search.namePlaceholder"))
            each sp,n in searchParams
                include includes/dropdown.pug
            button#search-refresh-button-inline(disabled)= translate("index.search.refreshButton")
        
        if editor
            .edit-tools-container
                button#add-element= translate("index.editor.addApp")
        .apps-container
            #search-refresh-popup
                = translate("index.search.refreshPopup")
            #search-loading-popup
                = translate("index.search.loadingPopup")
            #apps-list
                #apps-empty= translate("index.search.noResults")
        
        include includes/lang-container.pug
            